<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title%></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1>Event</h1>
      <h2>Create or choose your event in two minuts</h2>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>An app to learn <a href="http://devscola.org">Ruby with Sinatra</a>.</small></p>
  </footer>
</body>
</html>